// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #303f9f;
$secondary: #3f51b5;
$accent: #ff9800;

$dark: #212121;

$positive: #21ba45;
// $negative: #c5cae9;
$negative: #c5cae9;
// $info: #31ccec;
// $warning: #f2c037;

// ref https://www.materialpalette.com/download.sass/indigo/orange
$primary-color-dark: #303f9f;
$primary-color: #3f51b5;
$primary-color-light: #c5cae9;
$primary-color-text: #ffffff;
$accent-color: #ff9800;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;

@import "~quasar-variables-styl";
